language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
before_script:
  - wget https://github.com/samtools/htslib/releases/download/1.9/htslib-1.9.tar.bz2
  - tar jxvf htslib-1.9.tar.bz2 
  - cd htslib-1.9 && make && export PATH=$PATH:$PWD && cd ..
  - wget https://github.com/arq5x/bedtools2/releases/download/v2.28.0/bedtools-2.28.0.tar.gz
  - tar zxvf bedtools-2.28.0.tar.gz
  - cd bedtools2 && make && export PATH=$PATH:$PWD/bin && cd ..
  - pip install annot_utils==0.3.1
  - pip install pysam==0.15.3

script:
  - pip install .
  - python setup.py test 
